body {
  background-color: #e9e3e3; }

:root {
  --fuente: 'Raleway', sans-serif;
  --fondo: #e9e3e3;
  --pasada: #fc0808;
  --ancho-contenedor: 1200px; }

html, body {
  width: 100%;
  height: 100%;
  color: #080808;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--fuente); }

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%; }

header {
  background: #796a72;
  padding: 1rem; }

main {
  background: whitesmoke;
  color: #444;
  padding: 1rem; }

footer {
  background: none;
  padding: 0rem; }

.nav a.activo,
.nav a:hover {
  background: violet; }

.ford-f350 {
  width: 100%;
  height: 20%; }

.scania {
  width: 60%;
  height: 60%; }

.contenedor {
  max-width: 90%;
  width: var(--ancho-contenedor);
  margin: 20px auto;
  overflow: hidden; }

.tarjeta {
  padding: 40px;
  background: whitesmoke;
  border-radius: 3px; }

.tarjeta-1 {
  padding: 40px;
  background: var(--fondo);
  border-radius: 3px;
  box-shadow: 0px 0px 30px rgba(221, 221, 221, 0.3); }

.pd-0 {
  padding: 0; }

.pd-1 {
  padding: 0.25rem; }

.pd-2 {
  padding: 0.5rem; }

.pd-3 {
  padding: 1rem; }

.pd-4 {
  padding: 2rem; }

.pd-5 {
  padding: 4rem; }

.mbt-0 {
  margin-bottom: 0; }

.mbt-1 {
  margin-bottom: 0.25rem; }

.mbt-2 {
  margin-bottom: 0.5rem; }

.mbt-3 {
  margin-bottom: 1rem; }

.mbt-4 {
  margin-bottom: 2rem; }

.mbt-5 {
  margin-bottom: 4rem; }

/* servicios  */
.servicios {
  color: #15015c;
  text-decoration: underline; }

h1 {
  font-family: 'Libre Baskerville', serif;
  color: #910b6f;
  text-decoration: underline;
  padding: 2 rem; }

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

p {
  font-family: var(--fuente); }

.tarjetas {
  padding: 2rem; }

.boton {
  background: #641ee7;
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px;
  text-align: center;
  line-height: 22px;
  transition: .3s ease all; }
  .boton:hover {
    background: #f80000; }
  .boton:hover {
    background: #f80000; }
  .boton.verde {
    background: #00a04a; }
  .boton.verde:hover {
    background: #00833d; }

/* Footer */
.container__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--fondo);
  position: relative; }

.footer img {
  width: 20%;
  height: 30%;
  float: left; }

.icons {
  text-align: end;
  display: flex;
  gap: 10px;
  display: flex; }
  .icons a {
    color: blue; }
  .icons a:hover {
    color: var(--pasada); }

/* tablet */
@media screen and (max-width: 1200px) {
  .sacar {
    display: none; } }

@media screen and (max-width: 600px) {
  .sacar {
    display: none; }
  .justificar {
    text-align: left; }
  .container__footer {
    padding: 1rem; } }
