 /* servicios  */
 .servicios {
    color: #15015c;
    text-decoration: underline;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: rgb(145, 11, 111);
    text-decoration: underline;
    padding: 2 rem;
}

.tarjetas {
    padding: 2rem;
}