 /* Footer */

.container__footer {
    @include crearflex(space-between, center) ;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--fondo);
    position: relative;
}

.footer img{
    width: 20%;
    height: 30%;
    float: left;
}



.icons{
    text-align: end;
    display: flex;
    gap: 10px;
    display: flex;
    & a {
        color: blue;
    }
    
    & a:hover {
        color: var(--pasada);
    }
}

