 /* Footer */

.container__footer {
    max-width: 1200 px;
    @include crearflex(space-between, center) ;
    margin: 0 auto;
    padding: 1rem;
    background-color: #e9e3e3;
    position: relative;
}

.footer img{
    width: 20%;
    height: 30%;
}


.icons{
    text-align: end;
    display: flex;
    gap: 10px;
    display: flex;
    & a {
        color: blue;
    }
    
    & a:hover {
        color: var(--pasada);
    }
}

