  /* tablet */

@media screen and (max-width: 1200px) {
    .sacar {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .sacar {
        display: none;
    }

    .justificar {
        text-align: left;
    }

    .container__footer {
        padding: 1rem;
    }

    .esp{
        padding: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .tamanoletra{
        font-size: 1.5rem;
    }
}